#jogo{
    width:303px;
    height:303px;
    border:solid 3px;
    margin: auto;
    background-color: white;
}
 
.linha{
    height:100px;
    border-bottom:solid 1px;
}
 
.casa{
    width:100px;
    height:100%;
    border-right:solid 1px;
    float:left;
}

body{
	text-align: center;
	font-family: arial;
	background-image: url("img/fundo.jpg");
	background-position: center;
	background-size: cover;
}

